{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'portifolio/assets/favicon-dev.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'portifolio/css/style.css' %}">
    <title>Werberty</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-logo">
                <h1>{{ desenvolvedor.nome }}</h1>
            </div>
            <div class="nav-links">
                <a href="#inicio">Início</a>
                <a href="#sobre">Sobre</a>
                <a href="#projetos">Projetos</a>
                <a href="#habilidades">Habilidades</a>
                <a href="#contato">Contato</a>
            </div>
        </nav>
    </header>
    <main>
        <article>
            <section id="inicio">
                <div>
                    <h1>{{ desenvolvedor.nome }} {{ desenvolvedor.sobrenome }}</h1>
                    <p>{{ desenvolvedor.titulo }}</p>
                </div>
                <img src="{{ desenvolvedor.foto.url }}" alt="foto de perfil">
            </section>
            <section id="sobre">
                <h2>Sobre mim</h2>
                <p>{{ desenvolvedor.descricao }}</p>
            </section>
            <section id="projetos">
                <h2>Projetos</h2>
                <div class="container-projeto">
                    {% for projeto in projetos %}
                            <h3>{{ projeto.titulo }}</h3>
                            <p>
                                {% for tecnologia in projeto.tecnologias.all %}
                                    <span>{{ tecnologia }} |</span>
                                {% endfor %}
                            </p>
                            <p>{{ projeto.descricao }}</p>
                            <p>
                                <a href="{{ projeto.link_repositorio }}" target="_blank">Repositorio</a>
                                {% if projeto.link_site %}
                                    <a href="{{ projeto.link_site }}">Ver site</a>
                                {% else %}
                                    <a href="#projetos">Ver site</a>
                                {% endif %}
                            </p>
                    {% endfor %}
                </div>
            </section>
            <section id="habilidades">
                <h2>Habilidades</h2>
                <h3>Tecnologias</h3>
                <ul>
                    {% for hard_skill in hard_skills %}
                        <li>{{ hard_skill }}</li>
                    {% endfor %}
                </ul>
                <h3>Soft Skills</h3>
                <ul>
                    {% for soft_skill in soft_skills %}
                        <li>{{ soft_skill }}</li>
                    {% endfor %}
                </ul>
            </section>
            <section id="contato">
                <h2>Contato</h2>
                {% for contato in contatos %}
                <a href="{{ contato.link }}" target="_blank">{{ contato.nome }}</a>
                {% endfor %}
            </section>
        </article>
    </main>
    <footer>
        <p>Desenvolvido por Werberty</p>
    </footer>
</body>

</html>