{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'portifolio/assets/favicon-dev.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'portifolio/css/style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
    <title>{{ desenvolvedor.nome }}</title>
</head>

<body>
    <header class="header-container">
        <nav class="navbar container">
            {% comment %} <div class="nav-logo">
                <h1>{{ desenvolvedor.nome }}</h1>
            </div> {% endcomment %}
            <div class="nav-links">
                <a href="#inicio">Início</a>
                <a href="#sobre">Sobre</a>
                <a href="#projetos">Projetos</a>
                <a href="#habilidades">Habilidades</a>
                <a href="#contato">Contato</a>
            </div>
        </nav>
    </header>
    <main class="main-container">
        <section class="conteudo">
            <article id="inicio">
                <div class="inicio-titulo">
                    <h1>{{ desenvolvedor.nome }} {{ desenvolvedor.sobrenome }}</h1>
                    <p>{{ desenvolvedor.titulo }}</p>
                </div>
            </article>
            <article id="sobre">
                <h2>Sobre mim</h2>
                <div class="sobre-conteudo">
                    <p>{{ desenvolvedor.descricao }}</p>
                    <div>
                        <img src="{{ desenvolvedor.foto.url }}" alt="foto de perfil">
                    </div>
                </div>
            </article>
            <article id="projetos">
                <h2>Projetos</h2>
                <div class="projeto-conteudo">
                    {% for projeto in projetos %}
                        <div class="projeto-cover">
                            <img src="{{ projeto.capa.url }}" alt="cover 1">
                        </div>
                    {% endfor %}
                    <!-- {% for projeto in projetos %}
                    <h3>{{ projeto.titulo }}</h3>
                    <p>
                        {% for tecnologia in projeto.tecnologias.all %}
                        <span>{{ tecnologia }} |</span>
                        {% endfor %}
                    </p>
                    <p>{{ projeto.descricao }}</p>
                    <p>
                        <a href="{{ projeto.link_repositorio }}" target="_blank">Repositorio</a>
                        {% if projeto.link_site %}
                        <a href="{{ projeto.link_site }}">Ver site</a>
                        {% else %}
                        <a href="#projetos">Ver site</a>
                        {% endif %}
                    </p>
                    {% endfor %} -->
                </div>
            </article>
            <article id="habilidades">
                <h2>Habilidades</h2>
                <div class="habilidades-conteudo container">
                    <div class="habilidades-tec-conteudo">
                        <h3>Tecnologias</h3>
                        <ul>
                            {% for hard_skill in hard_skills %}
                            <li><i class="{{ hard_skill.icone }}"></i> {{ hard_skill }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="habilidades-soft-conteudo">
                        <h3>Soft Skills</h3>
                        <ul>
                            {% for soft_skill in soft_skills %}
                            <li>{{ soft_skill }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
            <article id="contato">
                <h2>Contato</h2>
                <div class="contato-conteudo">
                    {% for contato in contatos %}
                    <a href="{{ contato.link }}" target="_blank">{{ contato.nome }}</a>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p>Desenvolvido por Werberty</p>
    </footer>
    <p></p>
</body>

</html>