{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'portifolio/assets/favicon-dev.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'portifolio/css/style.css' %}">
    <title>Werberty</title>
</head>

<body>
    <main>
        <h1>Werberty Alexandre</h1>
        <p>Desenvolvedor Backend | Python | Django </p>
        <img src="{% static 'portifolio/assets/foto-perfil.jpg' %}" alt="foto de perfil">
        <h2>Sobre mim</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, atque a. Labore commodi consequuntur tenetur accusantium officiis delectus repellendus similique, alias maxime sed vero autem ullam. Harum eligendi id doloremque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam omnis possimus facilis nisi magni deserunt at officia cum. Consequuntur molestias rerum harum nam itaque voluptates praesentium tempore at corrupti quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, laudantium! Repellendus sed quas accusamus odit iure?</p>
        <h2>Projetos</h2>
        <ul>
            <li>
                <h3>Cell Imports</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur perferendis nesciunt perspiciatis tenetur vitae, quidem, expedita voluptatibus ipsum corporis rerum ex tempore dignissimos? Odio unde atque inventore debitis delectus explicabo!</p>
            </li>
            <li>
                <h3>Site de Receitas</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur soluta laborum reiciendis quia sapiente et labore, officia tenetur magni impedit! Quam dignissimos itaque doloremque minus dolores. Aut eligendi in dignissimos?</p>
            </li>
            <li>
                <h3>Freelaway</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla qui, exercitationem, error dicta debitis tenetur porro unde minima quae, et aliquam sed. Fugiat nisi suscipit tempora ullam reprehenderit labore soluta.</p>
            </li>
        </ul>
        <h2>Tecnologias</h2>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>MySQL</li>
        </ul>
        <h2>Soft Skills</h2>
        <ul>
            <li>Dedicado</li>
            <li>Comunicativo</li>
            <li>Senço de coletividade</li>
            <li>Responsavel</li>
        </ul>
        <h2>Contato</h2>
        <p><a href="#">Linkedin</a> <a href="#">GitHub</a> <a href="#">Isntagram</a></p>
    </main>
</body>

</html>